<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foreign Restaurants</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <!-- angular depedencies -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="javascripts/restApp.js"></script>
    <script src="javascripts/factories.js"></script>

    <!-- Custom styles for this template -->
    <link href="stylesheets/navbar.css" rel="stylesheet">
    <link href="stylesheets/restaurants.css" rel="stylesheet">
    <link href="stylesheets/btn-outline.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body ng-app="restApp" ng-controller="restCtrl">
  		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
		  <div class="container">
		    <div class="navbar-header">
		      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="index.html">Culture Connect</a>
		    </div>
		    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		      <ul class="nav navbar-nav">
		        <li>
		          <a href="index.html">Home</a>
		        </li>
		        <li>
		          <a href="#">How to Use</a>
		        </li>
				<li class="dropdown active">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Restaurants</a></li>
			          <li><a href="#">Cultural Events</a></li>
			          <li><a href="exhibits.html">Museums/Exhibits</a></li>
			        </ul>
			      </li>
		        <li>
		          <a href="#">Contact Us</a>
		        </li>
		        <li>
		          <a href="account.html">My Account</a>
		        </li>
		      </ul>
		    </nav>
		  </div>
		</header>

		<h1 id="restaurantPageTitle">Foreign Restaurants</h1>

		<div class="form-group col-md-3 col-md-offset-1">

		  <form ng-submit="getRestaurants()" role="form">
		  	  <label for="sel1">Choose a Country</label>
			  <select ng-model="restCountry" class="form-control" required>
			    <option disabled selected value> ---- </option>
			  	<option ng-repeat="country in countries" ng-value="country._id" value="country._id">{{country.name}}</option>
			  </select>

			<div class="form-group" style="margin-top:10px;">
			      <label for="location">Current Location:</label>
			      <input type="text" ng-model="currentLocation" class="form-control" id="location" required>
			</div>
			<div class="form-group" style="margin-top:10px;">
			    <input type="checkbox" ng-model="rememberLocation">
			    <label for="location">Remember Location</label>
			</div>

			<h2>Distance Within:</h2>
		  	<div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="25000">Any distance</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="2">2 miles</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="3">3 miles</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="4">4 miles</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="5">5 miles</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="10">10 miles</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="15">15 miles</label>
		    </div>
		  	<div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="25">25 miles</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" ng-model="maxDistance" ng-value="50">50 miles</label>
		    </div>
			<button style="margin-top:25px;" type="submit" class="btn btn-lg btn-danger btn-outline">Get restaurants</button>
		  </form>

		</div>

		
	    <div class="col-md-8" style="margin-top:100px;">
	    	<p style="font-size:23px" class="text-center" ng-show="showNoRestaurants">There are no restaurants listed</p>
	        <div class="col-md-offset-1 col-md-5" ng-repeat="restaurant in restResults">
	        	<div class="well">
	        		<p style="text-align:center;"><b>{{restaurant.name}}</p></span>
	        		<p>Address: <a style="color:black;" href="https://maps.google.com/?q={{restaurant.address}}">{{restaurant.address}}</a></p>
	        		<p>Travel Distance: {{restaurant.distance}} mi</p>
	        		<p>Trip Duration: {{restaurant.duration}} mins</p>
	        		<p><span class="glyphicon glyphicon-globe"></span>  Connections: {{restaurant.connections}}</p>
	        		<div class="text-center">
	        			<button type="button" class="btn btn-danger" ng-show="true">Connect</button>
	        			<button type="button" class="btn btn-danger" ng-show="false">Disconnect</button>
	        		</div>

	        	</div>
	        </div>
	    </div>

	<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

		


	</body>
</html>