<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foreign Restaurants</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- angular depedencies -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="javascripts/accountApp.js"></script>
    <script src="javascripts/factories.js"></script>

    <script src="javascripts/navigation_bar.js"></script>
    <!-- Add restaurant Modal-->
    <script src="javascripts/modal.js"></script>

    <!-- Custom styles for this template -->
    
    <link href="stylesheets/navbar.css" rel="stylesheet">
    <link href="stylesheets/restaurants.css" rel="stylesheet">
    <link href="stylesheets/btn-outline.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body ng-app="accountApp" ng-controller="accountCtrl">
  		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
		  <div class="container">
		    <div class="navbar-header">
		      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Culture Connect</a>
		    </div>
		    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		      <ul class="nav navbar-nav navbar-link-options">
		        <li>
		          <a href="/">Home</a>
		        </li>
		        <li>
		          <a href="#">How to Use</a>
		        </li>
				<li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="/restaurant_page">Restaurants</a></li>
			          <li><a href="#">Cultural Events</a></li>
			          <li><a href="/exhibits_page">Museums/Exhibits</a></li>
			        </ul>
			      </li>
		        <li>
		          <a href="#">Contact Us</a>
		        </li>
		      </ul>
		    </nav>
		  </div>
		</header>

		<h1 id="restaurantPageTitle">{{account_page_title}}</h1>


    <button style="margin-top:100px;" ng-click="toggleAccountInfoModal()" class="btn btn-lg btn-danger btn-outline col-md-offset-1">Account Info</button><br>
		<button style="margin-top:25px;" ng-click="toggleAddRestModal()" class="btn btn-lg btn-danger btn-outline col-md-offset-1">Add restaurant</button>
    







  <modal title="Add New Restaurant" visible="showModal" >
    <form role="form" ng-submit="addRestaurant()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" ng-model="data.restName" placeholder="Restaurant Name" ng-required="true" />
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" ng-model="data.restAddress" placeholder="Restaurant Address" ng-required="true" />
      </div>
      <div class="form-group">
        <label>Choose a Country: </label>
        <select ng-model="data.restCountry" class="form-control" required="true">
    		    <option disabled selected value> ---- </option>
    		  	<option ng-repeat="country in data.countries" ng-value="country._id" value="country._id">{{country.name}}</option>
    		</select>
      </div>
      <button type="submit" class="btn btn-danger">Add Restaurant</button>
    </form>
  </modal>




  <modal title="Account Info" visible="showInfoModal" >
    <p><b>Name:</b> {{data.accountName}}</p>
    <p><b>Email:</b> {{data.accountEmail}}</p>
    <p><b>Username:</b> {{data.accountUsername}}</p>
  </modal>


















	<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>




</html>